@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash Display SemiBold";
  src: url("../public/assets/fonts/ClashDisplay_Medium.otf");
}

@font-face {
  font-family: "Lato Regular";
  src: url("../public/assets/fonts/Archivo_Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  background: rgb(29, 0, 78);
  background: linear-gradient(
    53deg,
    rgba(29, 0, 78, 1) 0%,
    #0b0718 50%,
    rgb(26, 22, 83) 100%
  );
  color: #fff;
  background-image: url(../public/assets/images/bg-main.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  font-family: "Lato Regular", sans-serif;
  overflow-x: hidden;
}

.global-padding {
  @apply px-8 max-sm:px-4 max-md:px-6 max-lg:px-10 max-xl:px-12;
}

.global-flex {
  @apply flex max-lg:flex-col;
}

.global-title {
  @apply text-[52px] max-sm:text-[26px] max-md:text-[38px] max-lg:text-[46px] max-xl:text-[52px];
}

.global-subheading {
  @apply text-[28px] max-sm:text-[14px] max-md:text-[20px] max-lg:text-[24px] max-xl:text-[28px];
}

.global-cardtitle {
  @apply text-[20px] max-sm:text-[18px] max-md:text-[16px] max-lg:text-[20px] max-xl:text-[20px];
}

.button-text {
  @apply text-[16px] max-sm:text-[12px] max-md:text-[16px] max-lg:text-[16px] max-xl:text-[16px] max-md:px-4;
}

.hero-title {
  @apply text-[70px] max-sm:text-[30px] max-md:text-[40px] max-lg:text-[52px] max-xl:text-[70px];
}

.hero-sub {
  @apply text-[50px] max-sm:text-[18px] max-md:text-[26px] max-lg:text-[30px] max-xl:text-[45px];
}

.footer-heading {
  @apply text-[100px] max-sm:text-[28px] max-md:text-[38px] max-lg:text-[46px] max-xl:text-[60px];
}

.footer-email {
  @apply text-[52px] max-sm:text-[20px] max-md:text-[24px] max-lg:text-[28px] max-xl:text-[52px];
}

.scroll-margin {
  scroll-margin-top: 100px;
}

h1,
h2,
h3 {
  font-family: "Clash Display SemiBold", sans-serif;
}

p {
  font-family: "Lato Regular", sans-serif;
  @apply text-[16px] max-sm:text-[14px] max-md:text-[16px] max-lg:text-[16px] max-xl:text-[16px];
}

a {
  font-family: "Clash Display Semibold", sans-serif;
  font-size: 16px;
}

li {
  @apply pl-2 list-disc ml-10;
}

.custom-font {
  font-family: "Clash Display SemiBold", sans-serif;
}

.bg-gradient {
  background: rgb(57, 0, 153);
  background: linear-gradient(
    55deg,
    rgba(57, 0, 153, 1) 0%,
    rgba(158, 0, 89, 1) 25%,
    rgba(255, 0, 84, 1) 50%,
    rgba(255, 84, 0, 1) 75%,
    rgba(255, 189, 0, 1) 100%
  );
}

.fade-gradient {
  background: #f97316;
  background: linear-gradient(to top, #f97316 18%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fade-text-title {
  background: #ffffff;
  background: linear-gradient(to top, #ffffff 18%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient {
  background: rgb(10, 0, 153);
  background: linear-gradient(
    90deg,
    rgb(149, 0, 255) 8%,
    rgba(158, 0, 89, 1) 35%,
    rgba(255, 0, 84, 1) 60%,
    rgba(255, 84, 0, 1) 70%,
    rgba(255, 189, 0, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-container {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(255, 255, 255, 0) 100%
  );
}

input {
  @apply w-full rounded-md  border-slate-600 px-4 py-2 text-white placeholder:text-gray-600;
}

textarea {
  @apply w-full h-[210px] resize-none rounded-md border-slate-600 px-4 py-2 text-white placeholder:text-gray-600;
}

.glass {
  background: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(6px);
}

.bg-black-glass {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
}

/* Spotlight Card */

.card-spotlight {
  position: relative;
  border-radius: 1rem;
  border: 1px solid #313131;
  height: 100%;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 134, 86, 0.623);
}

.card-spotlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--spotlight-color),
    transparent 20%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}

.enterAnimation {
  animation: scaleDown 0.5s ease 0s 1 normal forwards;
}

.scaleUp {
  animation: scaleUp 0.5s ease 0s 1 normal forwards;
}
@keyframes scaleDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: translateY(90vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.parallax {
  position: relative;
  overflow: hidden;
}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-family: sans-serif;
  color: #ffffff;
  opacity: 60%;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.9));
}

.scroller span {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 5rem;
    line-height: 5rem;
  }
}

.grid-container {
  @apply w-full grid justify-between items-center gap-6 
    xl:grid-cols-4 lg:grid-cols-4 
    md:grid-cols-3 sm:grid-cols-2 
    max-sm:grid-cols-1;
}

.grid-layout {
  @apply grid gap-10 
    xl:grid-cols-4 lg:grid-cols-3 
    md:grid-cols-2 sm:grid-cols-2 
    max-sm:grid-cols-1;
}
